@model BlogVM
@{
    ViewData["Title"] = "Detail";
}

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img style="width:650px" src="~/img/blog/@Model.Blog.Image" alt="blog-details">
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.Blog.Title </h2>
                        <h6>By @Model.AppUsers.FirstOrDefault(u => u.Id == Model.Blog.AppUserId).FullName.ToUpper() / @Model.Blog.Date.ToString("MMMM / dd / yyyy").ToUpper() / <i class="fa fa-comments-o"></i> 4</h6>
                        <p>@Model.Blog.Description</p>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                        <form id="contact-form" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Name</p>
                                    <input asp-for="Reply.Name">
                                    <span class="text-danger" asp-validation-for="Reply.Name"></span>
                                </div>
                                <div class="col-md-12">
                                    <p>Email</p>
                                    <input asp-for="Reply.Email">
                                    <span class="text-danger" asp-validation-for="Reply.Email"></span>
                                    <div asp-validation-summary="ModelOnly"></div>

                                </div>
                                <div class="col-md-12">
                                    <p>Subject</p>
                                    <input asp-for="Reply.Subject">
                                    <span class="text-danger" asp-validation-for="Reply.Subject"></span>
                                    <p>Massage</p>
                                    <span class="text-danger" asp-validation-for="Reply.Massage"></span>
                                    <textarea asp-for="Reply.Massage" id="message" cols="15" rows="10"></textarea>

                                </div>
                            </div>
                            <button class="btn btn-success" type="submit">Send Massage</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-47">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>categories</h3>
                        <ul>

                            @foreach (Category category in Model.Categories)
                            {

                                <li><a href="#">@category.CategoryName </a></li>

                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>latest post</h3>
                        <div class="single-post mb-30">
                            @foreach (Blog blogPost in Model.Blogs)
                            {
                                <div class="single-post-img">
                                    <a asp-action="Detail" asp-route-id="@blogPost.Id">
                                        <img style="width:100px;" src="~/img/blog/@blogPost.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">

                                    <h4><a asp-action="Detail">@blogPost.Title</a></h4>
                                    <p>by @Model.AppUsers.FirstOrDefault(u => u.Id == blogPost.AppUserId).UserName.ToLower() /  @blogPost.Date.ToString("MM / dd / yyyy").ToLower()</p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a asp-controller="Courses" asp-action="Index" class="mr-10 mb-10">course</a>
                            <a href="blog-details.html" class="mr-10 mb-10">education</a>
                            <a asp-controller="Teacher" asp-action="Index" class="mb-10">teachers</a>
                            <a href="blog-details.html" class="mr-10">learning</a>
                            <a href="blog-details.html" class="mr-10">university</a>
                            <a href="blog-details.html">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}