@model IEnumerable<CourseFeature>
@{
    ViewData["Title"] = "CourseFeature";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Course Feature</h4>
                @*<div class="d-flex justify-content-between">
                    <a class="btn btn-dark text-white" asp-controller="Course" asp-action="Index">Go Back</a>
                    <a class="btn btn-success" asp-controller="Course" asp-action="CreateCourseFature">Create Content</a>
                </div>*@
                <div class="d-flex justify-content-end">
                    @if (ViewBag.SliderCount < 5)
                    {
                        <a class="btn btn-success" asp-controller="HomeSlider" asp-action="Create">Create Slider</a>
                    }

                </div>

                <div class="table-responsive mt-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    STARTS
                                </th>
                                <th>
                                    DURATION
                                </th>
                                <th>
                                    CLASS DURATION
                                </th>
                                <th>
                                    SKILL LEVEL
                                </th>
                                <th>
                                    LANGUAGE
                                </th>
                                <th>
                                    STUDENTS
                                </th>
                                <th>
                                    ASSESMENTS
                                </th>
                                <th>
                                    Course Fee
                                </th>
                                <th>
                                    Setting
                                </th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (CourseFeature courseFeature in Model)
                            {
                            <tr>
                                <td>
                                    @courseFeature.Starts
                                </td>
                                <td>
                                    @courseFeature.Duration

                                </td>
                                <td>
                                    @courseFeature.Class_Duration
                                </td>
                                <td>
                                    @courseFeature.Skill_Level
                                </td>
                                <td>
                                    @courseFeature.Language
                                </td>
                                <td>
                                    @courseFeature.Students
                                </td>
                                <td>
                                    @courseFeature.Assesments
                                </td>
                                <td>
                                    @courseFeature.Course_Fee
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Course" asp-action="DetailCourseFature" asp-route-id="@courseFeature.Id">
                                        <i class="mdi mdi-information-variant"></i>
                                    </a>
                                    <a class="btn btn-warning" asp-controller="Course" asp-action="EditCourseFature" asp-route-id="@courseFeature.Id">
                                        <i class="mdi mdi-border-color"></i>
                                    </a>
                                    <a class="btn btn-danger" asp-controller="Course" asp-action="DeleteCourseFature" asp-route-id="@courseFeature.Id">
                                        <i class="mdi mdi-delete-variant"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


