@model CourseVM
@{
    ViewData["Title"] = "Delete";
}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <img style="width:450px; height:250px" src="~/img/course/@Model.Course.Image" />

        </div>
        <div class="text-center mt-3">
            <h5 class="mt-3">Course Title</h5>
            <p>@Model.Course.Title </p>
            <h5 class="mt-3">Course Description</h5>
            <p>@Model.Course.Description  </p>
            <h5 class="mt-3">Course AboutCourse</h5>
            <p>@Model.CourseContent.AboutCourse  </p>
            <h5 class="mt-3">Course HowToApply</h5>
            <p>@Model.CourseContent.HowToApply  </p>
            <h5 class="mt-3">Course Certification</h5>
            <p>@Model.CourseContent.Certification  </p>
            <h5 class="mt-3">Course Starts</h5>
            <p>@Model.CourseFeature.Starts  </p>
            <h5 class="mt-3">Course Duration</h5>
            <p>@Model.CourseFeature.Duration  </p>
            <h5 class="mt-3">Course Class Duration</h5>
            <p>@Model.CourseFeature.Class_Duration  </p>
            <h5 class="mt-3">Course Skill Level</h5>
            <p>@Model.CourseFeature.Skill_Level  </p>
            <h5 class="mt-3">Course Language</h5>
            <p>@Model.CourseFeature.Language</p>
            <h5 class="mt-3">Course Students</h5>
            <p>@Model.CourseFeature.Students</p>
            <h5 class="mt-3">Course Assesments</h5>
            <p>@Model.CourseFeature.Assesments</p>
            <h5 class="mt-3">Course Course Fee</h5>
            <p>@Model.CourseFeature.Course_Fee</p>
        </div>
        <div class="row mt-4">
            <a class="btn btn-dark text-white" asp-controller="Course" asp-action="Index">Go Back</a>
            <form method="post" class="forms-sample ml-3">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>



