@model Blog
@{
    ViewData["Title"] = "Delete";
}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <img style="width:450px; height:250px" src="~/img/blog/@Model.Image" />

        </div>
        <div class="text-center mt-3">
            <h5>BY</h5>
            <p>@Model.AppUserId</p>
            <h5 class="mt-3">Title</h5>
            <p>@Model.Title</p>
            <h5 class="mt-3">Blog Category</h5>
            <p>@ViewBag.CategoriName</p>
            <h5 class="mt-3">Description</h5>
            <p>@Model.Description</p>

            <h5 class="mt-3">Date</h5>
            <p>@Model.Date.ToString("dd/MMM/yyyy").ToUpper()</p>
        </div>
        <div class="row mt-4">
            <a class="btn btn-dark text-white" asp-controller="Blog" asp-action="Index">Go Back</a>
            <form method="post" class="forms-sample ml-3">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

